<% form_remote_for(:chat, :url => chats_path) do |f| %>
 <%= f.text_field :name %>
 <%= f.text_field :message %>
 <%= submit_tag "Talk" %>
<% end %>

<ul id="chat-list">
<%- for chat in @chats -%>
  <li>
    <%=h chat.name %>:
    <%=h chat.message %>
  </li>
<%- end -%>
</ul>

<%= meteor_strike 'shot_chat' %>
